<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- 設置ConsoleAppender讓logger輸出至console -->
    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="TRACE" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yy/MM/dd HH:mm:ss}][%p][%C-%L] %m%n"/>
        </layout>
    </appender>

    <appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
    	<!-- append 設定為false，should not overwrite -->
    	<param name="append" value="true" />
    	<param name="File" value="D:/Logs_training/logger.log" />
    	<param name="DatePattern" value="'-'yyyy-MM-dd'.log'" />
    	<param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yy/MM/dd HH:mm:ss}][%p][%C-%L] %m%n"/>
        </layout>
    </appender>
    
    <appender name="debugfile" class="org.apache.log4j.DailyRollingFileAppender">
    	<param name="append" value="true" />
    	<param name="File" value="D:/Logs_training/debuglogger.log" />
    	<param name="DatePattern" value="'-'yyyy-MM-dd'.log'" />
    	<param name="Threshold" value="TRACE" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yy/MM/dd HH:mm:ss}][%p][%C-%L] %m%n"/>
        </layout>
    </appender>
    
    <!-- rootLogger -->
    <root>
        <priority value ="error" />
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="file" />
    </root>

    <!-- 設置logger -->
    <logger name="website" additivity="false" >
      	<level value="INFO" />
      	<appender-ref ref="consoleAppender"/>
      	<appender-ref ref="file" />
    </logger>
    
    <!-- 設置jdbcTemplate，紀錄執行的sql語句以及參數，注意logger level的設定和appender threshold的設定 -->
    <logger name="org.springframework.jdbc.core.JdbcTemplate" additivity="false">
        <level value="DEBUG" />   
        <appender-ref ref="consoleAppender" />  
        <appender-ref ref="debugfile" />
    </logger>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" additivity="false">
        <level value="TRACE" />   
        <appender-ref ref="consoleAppender" />
        <appender-ref ref="debugfile" /> 
    </logger>
    
</log4j:configuration>